<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020867592920-bknh97i0u3sjnf7dsra97n458fms2snh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020867592920-bknh97i0u3sjnf7dsra97n458fms2snh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1020867592920-5g1q91ej7spj85mcimukeuc1qiovomot.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDune9tM_etKNBdlK2BRjPPBGCFT4E3nhI</string>
	<key>GCM_SENDER_ID</key>
	<string>1020867592920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.multisalon.customer</string>
	<key>PROJECT_ID</key>
	<string>multi-salon-aae5f</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-salon-aae5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020867592920:ios:f824684725a77817064dad</string>
</dict>
</plist>